* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree";
  background-color: hsl(47, 88%, 63%);
}

img {
  max-width: 100%;
}

.container {
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 300px;
  margin: 5em auto;
  border-radius: 10px;
  box-shadow: 5px 5px 0 6px;
}

.blog-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Learning {
  margin-bottom: 10px;
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  padding: 5px;
  border: none;
  font-weight: 800;
  border-radius: 5px;
}

.date-published {
  margin-bottom: 10px;
  font-size: 15px;
}

.html-and-css-foundations {
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 800;
}

.html-and-css-foundations:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.html-and-css-foundation-quote {
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
}

@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.greg-img {
  width: 30px;
}

.greg-hooper {
  font-weight: 800;
  font-size: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}